body{
    background-color: rgb(120, 22, 211);
}
.col{
    background-color: rgb(132, 84, 209);
}
a{
    color: rgb(162, 117, 235);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

.container2{

    background-color: rgb(132, 84, 209);
}