@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');
body{
    background-color: rgb(120, 22, 211);
}
.col{
    background-color: rgb(132, 84, 209);
}
a{
    color:rgb(162, 117, 235)
}
.container{
    margin-top: 20px;
    border-radius: 15px;
}
h2{
    font-family: 'Balsamiq Sans', cursive;
}
h1{
    font-family: 'Balsamiq Sans', cursive;
}



